<div class="navbar-wrapper">
 <header class="vs-navbar vx-navbar navbar-custom vs-navbar-null vs-navbar-color-#fff navbar-default" style="background: #fff;">
  <div class="header-items">
   <div class="fav-project">
     <!-- <select name="" id=""></select> -->
   </div> 
   <div class="h-cta">
    <div class="search"><span class="lnr lnr-magnifier"></span></div>
    <div class="notification">
     <span class="lnr lnr-alarm"></span>
     <span class="notification-bell"></span>
    </div>
    <div class="navbar-user-meta">
     <div class="user-meta-details">
      <span class="first-name">John</span>
      <span class="last-name">Doe</span>
     </div>
     <button type="button" class="">
      <div><img src="../../assets/images/avatar-s.png" width="40" height="40" alt=""></div>
     </button>
    </div>
   </div>
  </div>
 </header>
</div>