<div class="login-wrapper">

 <div class="login-panel">
  <div class="login-inner">
   <a routerLink="/dashboard" class="login-logo"><img src="../../assets/images/login-logo.png" alt=""></a>
   <h2>Log in</h2>
   <div class="login-form">
    <form action="">
      <div class="mb-15">
       <input type="text" placeholder="User Name" id="userName">
      </div>
     <div class="mb-15">
       <input type="Password" placeholder="Password" id="password">
     </div>
     <a href="#" class="forget-pass">Don't remeber your password</a>
      <button type="submit" routerLink="/dashboard">Sign In</button>
    </form>
   </div>
  </div> 
 </div>
 <div class="thoughts-panel">
  <div class="thoughts-wrapper">
   <h1>If we have a negative mind, we will have a negative life.</h1>
  </div>
 </div>
 
</div>